@font-face { 
    font-family: 'SF Compact Display';
    src: url('fonts/sf-compact-display-thin-58646eb43a785.otf'); /* Update with actual font file path */
}

.font-normal{
    font-family: 'SF Compact Display', sans-serif;
    font-weight: normal;
    font-size: 12px; /* Skaliert mit der Breite des Viewports */
}

.font-bold{
    font-family: 'SF Compact Display', sans-serif;
    font-weight: bold;
    font-size: 26px; 
}

.font-small{
    font-family: 'SF Compact Display', sans-serif;
    font-weight: normal;
    font-size: 13px; 
}


.font-large{
    font-family: 'SF Compact Display', sans-serif;
    font-weight: bold;
    font-size: 18px; 
}

.font-mid{
    font-family: 'SF Compact Display', sans-serif;
    
    font-size: 18px; 
}


/* Setzt  minimale Schriftgröße von 16px, wenn  Viewport breiter als 600px */
@media screen and (min-width: 500px) {
    .font-normal {
        font-size: 14px;
    }
    .font-bold {
        font-size: 37px;
    }
    .font-small {
        font-size: 17px;
    }
    .font-large {
        font-size: 20px;
    }
    .font-mid {
        font-size: 20px;

    }
}

/* Setzt maximale Schriftgröße von 36px, wenn Viewport breiter als 1200px */
@media screen and (min-width: 1000px) {
    .font-normal {
        font-size: 18px;
    }
    .font-bold {
        font-weight: bold;
        font-size: 45px;
    }
    .font-small {
        font-size: 18px;
    }

    .font-large {
        font-size: 27px;
    }

    .font-mid {
        font-size: 27px;
    }
}

/*colors*/
.white-color{
    color: #ffffff;
}

.lightgrey-color{
    color: #ededed;
}

.grey-color{
    color: #9d9d9c;
}

.darkgrey-color{
    color: #3c3c3b;
}

.schwarz-color{
    color: black;
}

.lila-color{
    color: #702f71;
}

.pink-color{
    color: #ce7fa9;
}

.lightgreen-color{
    color: #52ae32;
}

.darkgreen-color{
    color: #005625;
}


/*background*/
.backgroundwhite-color{
    background-color: #ffffff;
}

.backgroundlightgrey-color{
    background-color: #ededed;
}

.backgroundgrey-color{
    background-color: #9d9d9c;
}

.backgrounddarkgrey-color{
    background-color: #3c3c3b;
}

.bakcgroundschwarz-color{
    background-color: black;
}

.backgroundlila-color{
    background-color: #702f71;
}

.backgroundpink-color{
    background-color: #ce7fa9;
}

.backgroundlightgreen-color{
    background-color: #52ae32;
}

.backgrounddarkgreen-color{
    background-color: #005625;
}